@import url('./global.css');

body {
    background-image: url(../Assets/Images/bg-img.svg);
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: var(--surface-color);
    border-radius: 24px;
    margin: 48px auto;
}

img {
    border-radius: 16px;
}

#main{
    padding: 24px;
}

section + section{
    margin-top: 24px;
}

#about > ul {
    margin-top: 12px;
}

h1{
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 4px;
}

#about > ul{
    list-style: none;
}

h2{
    font-size: 24px;
}

h1, h2{
    color: var(--text-color-primary);
    margin-bottom: 4px;
    line-height: 150%;
}

ul{
    padding-left: 24px;
}

#modo_de_preparo > p {
    margin-bottom: 12px;
}

footer{
    color: var(--surface-color);
    text-align: center;
    padding-bottom: 48px;

}

footer img{
    vertical-align: middle;
}